{{define "head"}}

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Noaway UI</title>
    <meta name="description" content="Noaway UI">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="/public/image/QRAUqs9.png">
    <link rel="shortcut icon" href="/public/image/QRAUqs9.png">

    <link rel="stylesheet" href="/public/css/normalize.min.css">
    <link rel="stylesheet" href="/public/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/css/font-awesome.min.css">
    <link rel="stylesheet" href="/public/css/themify-icons.css">
    <link rel="stylesheet" href="/public/css/pe-icon-7-stroke.min.css">
    <link rel="stylesheet" href="/public/css/flag-icon.min.css">
    <link rel="stylesheet" href="/public/assets/css/cs-skin-elastic.css">
    <link rel="stylesheet" href="/public/assets/css/style.css">

    <link href='/public/css/family.css' rel='stylesheet' type='text/css'>
</head>
{{end}}